/* CSS for GeoGebraXStudio */
  
/*
.geogebraxstudio_block .stdLbl {
    display: inline-block;
    width: 20%;
    text-align: right;
}
.geogebraxstudio_block input {
    display: inline-block;
    width: 70%;
}
*/
